# Dependencies
node_modules/

# Build
dist/
dist-ssr/
src-tauri/target/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Tauri
src-tauri/WixTools/
src-tauri/gen/

# Release artifacts (built locally)
*.exe
!src-tauri/icons/**/*.exe
